h1, h2 {
  font-family: Lato;
}
.accordion {
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
}
.active, .accordion:hover {
  background-color: rgb(120, 181, 201);
}
.panel {
  display: none;
}